[submodule "webl4:Tunescape"]
	path = webl4:Tunescape
	url = https://github.com/majorbruteforce/Tunescape.git
[submodule "webl3:LazyApp"]
	path = webl3:LazyApp
	url = https://github.com/punitkr03/Lazy-App.git
[submodule "webl2:ToDoList"]
	path = webl2:ToDoList
	url = https://github.com/zakhaev26/Task-Tracker-App.git
[submodule "webl3:OnlineIDE"]
	path = webl3:OnlineIDE
	url = https://github.com/zakhaev26/OiDE-compiler.git
[submodule "webl1:SpotifyClone"]
	path = webl1:SpotifyClone
	url = https://github.com/zakhaev26/Spotify-Clone.git
[submodule "appl2:BloodStreaming"]
	path = appl2:BloodStreaming
	url = https://github.com/Divyakumar21202/BloodStreaming.git
[submodule "appl1:WeatherApp"]
	path = appl1:WeatherApp
	url = https://github.com/Divyakumar21202/Weather-App.git
[submodule "appl2:FestFusion"]
	path = appl2:FestFusion
	url = https://github.com/Divyakumar21202/FestFusion.git
